<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobilePhoneSchool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00AE67B81C3A4A1B002F9085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AE67CB1C3A4A1B002F9085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AE67D61C3A4A1B002F9085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
