<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>推荐专区</string>
		<key>data</key>
		<array>
			<dict>
				<key>imagename</key>
				<string>img01.png</string>
				<key>title</key>
				<string>集团公司2014年可持续</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img01.png</string>
				<key>title</key>
				<string>mooc移动通信业务</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>推荐课程</string>
		<key>data</key>
		<array>
			<dict>
				<key>imagename</key>
				<string>img02.png</string>
				<key>title</key>
				<string>网络视频如何火起来</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img03.png</string>
				<key>title</key>
				<string>日常维护作业中的事情</string>
				<key>subimagename</key>
				<string>img03.png</string>
				<key>subtitle</key>
				<string>大数据触点营销与流程</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img03.png</string>
				<key>title</key>
				<string>网络视频如何火起来</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img03.png</string>
				<key>title</key>
				<string>大数据触点营销与流程</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>推荐资讯</string>
		<key>data</key>
		<array>
			<dict>
				<key>imagename</key>
				<string>img04.png</string>
				<key>title</key>
				<string>日常维护作业中的网络安全</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img05.png</string>
				<key>title</key>
				<string>WLAN网络安全设计操作等等</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img05.png</string>
				<key>title</key>
				<string>商用案例和价格</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img05.png</string>
				<key>title</key>
				<string>中国移动每一天</string>
			</dict>
			<dict>
				<key>imagename</key>
				<string>img05.png</string>
				<key>title</key>
				<string>移动摘要与新闻发布会</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
